<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title> Quiz </title>
        <link rel='stylesheet' href='/stylesheet/style.css'/>
    </head>
    <body>
        <h1> Créditos </h1> <br>
        <p> <b>Desarrollador</b> <br> <%= desarrollador %> <br> <%-fotoDes%> </p> <br>
        <p> <p><b>Idea Original</b> <br> <%= ideaOriginal %> <br> <%-fotoIO%> </p> <br>
    
    </body>
    
</html>